<a href="https://colab.research.google.com/github/diegokieck/mestrado/blob/main/PlotTestResults.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTS

In [ ]:
#imports

import pandas as pd
import numpy as np
import sklearn as sk
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials, pyll, space_eval
from google.colab import drive
import pickle

import hyperopt

from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.pipeline  import Pipeline


import seaborn as sn

import tensorflow as tf
from keras.layers import *
from keras.models import Model
from keras.callbacks import EarlyStopping
from keras.backend import clear_session

from keras.utils import np_utils
from sklearn.preprocessing import LabelEncoder

import time

In [ ]:
drive.mount('/content/drive')
import sys
master_path = "/content/drive/MyDrive/masters"
sys.path.append(master_path)

Mounted at /content/drive

In [ ]:
svm_path = '/content/drive/MyDrive/masters/Webist/models/'
sys.path.append(svm_path)
import svm 
import word_cnn
import char_cnn

# DEF Functions

In [ ]:
def plot_trial_results(trials):
  exp_list =[]
  for trial in trials.trials:
    exp = {'id': trial['tid'] , 'accuracy':-trial['result']['loss']}
    exp_list.append(exp)
  __df= pd.DataFrame(exp_list)
  __df.plot(x='id', y='accuracy', kind='scatter', title='Accuracy over Trials')
  return None

def df_from_trial(trials):
  exp_list =[]
  for trial in trials.trials:
    exp = {'id': trial['tid'] , 'vals':trial['misc']['vals'], 'time': trial['result']['time'] ,'accuracy':-trial['result']['loss'], }
    exp_list.append(exp)
  aux = pd.DataFrame(exp_list)
  vals_df = pd.DataFrame(list(aux.vals))
  final_df = pd.concat([aux.drop('vals', axis=1), vals_df], axis=1)
  return final_df

def plot_time(df):
  df[['time', 'accuracy']].sort_values('time').plot(x='time', y='accuracy',kind='scatter', title='Accuracy vs Time of each Trial')
  return None

def load_trial(path):
  with open(path, 'rb') as f:
    trials=pickle.load(f)
  return trials

# Plot overall resukts

In [ ]:
#Read Data
svm_test_data = pd.read_csv('/content/drive/MyDrive/masters/Webist/results/svm_nfe_results.csv')

In [ ]:
svm_test_data.drop('Unnamed: 0',axis=1)

   nfce_results  nfce_cross_results  nfe_results  nfe_cross_results
0      0.803189            0.759349     0.882296            0.68369
1      0.803189            0.759349     0.882296            0.68369
2      0.803189            0.759349     0.882296            0.68369
3      0.803189            0.759349     0.882296            0.68369
4      0.803189            0.759349     0.882296            0.68369

In [ ]:
word_cnn_test_data = pd.read_csv('/content/drive/MyDrive/masters/Webist/results/word_cnn_nfe.csv')

In [ ]:
word_cnn_test_data.drop('Unnamed: 0',axis=1)

   nfce_results  nfce_cross_results  nfe_results  nfe_cross_results
0      0.763524            0.075066     0.867531           0.059649
1      0.758983            0.074790     0.866841           0.061365
2      0.770388            0.060301     0.865462           0.059851
3      0.768167            0.079205     0.866152           0.058034
4      0.761708            0.070098     0.861598           0.054602

In [ ]:
char_cnn_test_data = pd.read_csv('/content/drive/MyDrive/masters/Webist/results/char_cnn_nfce_results.csv')

In [ ]:
char_cnn_test_data.drop('Unnamed: 0',axis=1)

   nfce_results  nfce_cross_results  nfe_results  nfe_cross_results
0      0.776948            0.089968     0.849731           0.103855
1      0.778361            0.092590     0.856768           0.086698
2      0.754643            0.109149     0.850145           0.104259
3      0.778462            0.105423     0.842280           0.088716
4      0.775737            0.106113     0.855802           0.094873

In [ ]:
char_cnn_test_data=char_cnn_test_data[word_cnn_test_data.columns]